USE [MvsDbstok]
GO
/****** Object:  Table [dbo].[TBLKARALISTE]    Script Date: 31.01.2020 16:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKARALISTE](
	[KARALISTEID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[GIRISTARIHI] [datetime] NULL,
	[CIKISTARIHI] [datetime] NULL,
	[ACIKLAMA1] [nvarchar](50) NULL,
	[ACIKLAMA2] [nvarchar](50) NULL,
	[KALDIRILDIMI] [bit] NULL,
 CONSTRAINT [PK_TBLKARALISTE] PRIMARY KEY CLUSTERED 
(
	[KARALISTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKASA]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKASA](
	[KASAID] [int] IDENTITY(1,1) NOT NULL,
	[KASATOPLAM] [int] NULL,
	[DEFO] [tinyint] NULL,
	[SATISID] [int] NULL,
	[ISLEMTARIHI] [datetime] NULL,
 CONSTRAINT [PK_TBLKASA] PRIMARY KEY CLUSTERED 
(
	[KASAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKATEGORILER]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKATEGORILER](
	[KATEGORIID] [smallint] IDENTITY(1,1) NOT NULL,
	[KATEGORIADI] [varchar](50) NULL,
 CONSTRAINT [PK_TBLKATEGORILER] PRIMARY KEY CLUSTERED 
(
	[KATEGORIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLKULLANICI]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLKULLANICI](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NULL,
	[Soyad] [varchar](50) NULL,
	[Tel] [nchar](11) NULL,
	[TC] [varchar](11) NULL,
	[Email] [varchar](50) NULL,
	[Sifre] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLMUSTERILER]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLMUSTERILER](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](50) NULL,
	[MUSTERISOYAD] [varchar](50) NULL,
 CONSTRAINT [PK_TBLMUSTERILER] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLSATIS]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATIS](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[ADET] [tinyint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [int] NULL,
 CONSTRAINT [PK_TBLSATIS] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLURUNLER]    Script Date: 31.01.2020 16:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLURUNLER](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[MARKA] [varchar](50) NULL,
	[URUNKATEGORI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[STOK] [tinyint] NULL,
	[MINSTOK] [tinyint] NULL,
	[KARALISTEDEMI] [bit] NULL,
 CONSTRAINT [PK_TBLURUNLER] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBLKARALISTE] ON 

INSERT [dbo].[TBLKARALISTE] ([KARALISTEID], [URUNID], [GIRISTARIHI], [CIKISTARIHI], [ACIKLAMA1], [ACIKLAMA2], [KALDIRILDIMI]) VALUES (15, 14, CAST(N'2020-01-29T11:11:14.103' AS DateTime), CAST(N'2020-01-29T11:11:14.103' AS DateTime), N'hata', N'Açıklama Tanımlanmammış', 1)
INSERT [dbo].[TBLKARALISTE] ([KARALISTEID], [URUNID], [GIRISTARIHI], [CIKISTARIHI], [ACIKLAMA1], [ACIKLAMA2], [KALDIRILDIMI]) VALUES (16, 1, CAST(N'2020-01-29T11:20:10.477' AS DateTime), CAST(N'2020-01-29T11:20:10.477' AS DateTime), N'rty', N'Açıklama Tanımlanmammış', 1)
INSERT [dbo].[TBLKARALISTE] ([KARALISTEID], [URUNID], [GIRISTARIHI], [CIKISTARIHI], [ACIKLAMA1], [ACIKLAMA2], [KALDIRILDIMI]) VALUES (17, 7, CAST(N'2020-01-29T12:25:38.667' AS DateTime), CAST(N'2020-01-29T12:25:38.667' AS DateTime), N'Hata oluştu üründe', N'Açıklama Tanımlanmammış', 1)
SET IDENTITY_INSERT [dbo].[TBLKARALISTE] OFF
SET IDENTITY_INSERT [dbo].[TBLKASA] ON 

INSERT [dbo].[TBLKASA] ([KASAID], [KASATOPLAM], [DEFO], [SATISID], [ISLEMTARIHI]) VALUES (1, 1000, 0, 1028, CAST(N'2020-01-31T11:15:48.623' AS DateTime))
INSERT [dbo].[TBLKASA] ([KASAID], [KASATOPLAM], [DEFO], [SATISID], [ISLEMTARIHI]) VALUES (2, 500, 0, 1029, CAST(N'2020-01-31T11:23:41.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBLKASA] OFF
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] ON 

INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIADI]) VALUES (1, N'BEYAZ EŞYA')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIADI]) VALUES (2, N'KÜÇÜK EV ALETLERİ')
INSERT [dbo].[TBLKATEGORILER] ([KATEGORIID], [KATEGORIADI]) VALUES (3, N'BİLGİSAYAR')
SET IDENTITY_INSERT [dbo].[TBLKATEGORILER] OFF
SET IDENTITY_INSERT [dbo].[TBLKULLANICI] ON 

INSERT [dbo].[TBLKULLANICI] ([KullaniciId], [Ad], [Soyad], [Tel], [TC], [Email], [Sifre]) VALUES (1, N'Edanur', N'Dingin', N'05655265662', N'11111111111', N'edanurdingin@gmail.com', N'13641364')
SET IDENTITY_INSERT [dbo].[TBLKULLANICI] OFF
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] ON 

INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (1, N'EVREN', N'AKTAŞ')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2020, N'EDANUR', N'DİNGİN')
INSERT [dbo].[TBLMUSTERILER] ([MUSTERIID], [MUSTERIAD], [MUSTERISOYAD]) VALUES (2021, N'AHMET', N'IŞIK')
SET IDENTITY_INSERT [dbo].[TBLMUSTERILER] OFF
SET IDENTITY_INSERT [dbo].[TBLSATIS] ON 

INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT], [TUTAR]) VALUES (1015, 3, 1, 30, CAST(250.00 AS Decimal(18, 2)), 7500)
INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT], [TUTAR]) VALUES (1016, 7, 2021, 2, CAST(6542.00 AS Decimal(18, 2)), 13084)
INSERT [dbo].[TBLSATIS] ([SATISID], [URUN], [MUSTERI], [ADET], [FIYAT], [TUTAR]) VALUES (1017, 5, 2021, 1, CAST(3500.00 AS Decimal(18, 2)), 3500)
SET IDENTITY_INSERT [dbo].[TBLSATIS] OFF
SET IDENTITY_INSERT [dbo].[TBLURUNLER] ON 

INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK], [MINSTOK], [KARALISTEDEMI]) VALUES (3, N'SU ISITICISI', N'VESTEL', 2, CAST(250.00 AS Decimal(18, 2)), 9, 7, 0)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK], [MINSTOK], [KARALISTEDEMI]) VALUES (5, N'BUZDOLABI', N'REGAL', 1, CAST(3500.00 AS Decimal(18, 2)), 6, 6, 0)
INSERT [dbo].[TBLURUNLER] ([URUNID], [URUNAD], [MARKA], [URUNKATEGORI], [FIYAT], [STOK], [MINSTOK], [KARALISTEDEMI]) VALUES (6, N'LAPTOP NIRVANA', N'TOSHIBA', 3, CAST(2500.00 AS Decimal(18, 2)), 11, 9, 0)
SET IDENTITY_INSERT [dbo].[TBLURUNLER] OFF
ALTER TABLE [dbo].[TBLKASA]  WITH CHECK ADD  CONSTRAINT [FK_TBLKASA_TBLSATIS] FOREIGN KEY([SATISID])
REFERENCES [dbo].[TBLSATIS] ([SATISID])
GO
ALTER TABLE [dbo].[TBLKASA] CHECK CONSTRAINT [FK_TBLKASA_TBLSATIS]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLMUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERILER] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLMUSTERILER]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLURUNLER] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUNLER] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLURUNLER]
GO
ALTER TABLE [dbo].[TBLURUNLER]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER] FOREIGN KEY([URUNKATEGORI])
REFERENCES [dbo].[TBLKATEGORILER] ([KATEGORIID])
GO
ALTER TABLE [dbo].[TBLURUNLER] CHECK CONSTRAINT [FK_TBLURUNLER_TBLKATEGORILER]
GO
