
@{
    ViewBag.Title = "Bilgi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



    <div>
        <br />
        <h3>Bilgilendirme!!!</h3>
        <br />

        <h4>
            <p><b>Kategoriler</b> Sayfasında Ürünlerin Kategorileri Listelenir. Yeni Kategori Ekleme, Var Olan Bir Kategoriyi Güncelleme ve Silme İşlemleri Yapılır.  </p><br />
            <p><b>Ürünler</b> Sayfasında Ürünler Listelenir. Yeni Ürün Ekleme, Var Olan Bir Ürünü Güncelleme ve Silme İşlemleri Yapılır.  </p><br />
            <p><b>Müşteriler</b> Sayfasında Müşteriler Listelenir. Yeni Müşteri Ekleme, Var Olan Bir Müşteriyi Güncelleme ve Silme İşlemleri Yapılır.  </p><br />
            <p><b>Satışlar</b> Sayfasında Satışlar Listelenir. Yeni Satış Ekleme, Var Olan Bir Satışı Güncelleme ve Silme İşlemleri Yapılır.  </p>
        </h4>
    </div>
